.mySection {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.mySpan {
    width: 150px;
    border-style: groove;
    background-color: #fafafa;
    padding: 5px;
    align-items: center;
    align-content: center;
    color: red;
    background: pink;
    border-top: black;
}

.myButton {
    border-radius: 5px;
    color: white;
    background: red;
}